<%- include('partials/header'); -%>

<header>
  <div>
    <img src="/paper-plane-solid.svg" alt="" />
  </div>
  <div class="headings">
    <h2>Users API</h2>
    <h3>By tetat</h3>
    <a href="/users" class="btn">View Users</a>
  </div>
</header>

<%- include('partials/footer'); -%>
